<div class="add-medico">
    <h2 class="title">Crear Medico</h2>
    <form class="form-container" [formGroup]="medForm" (submit)="createMedico()">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Nombre completo"/>
            <mat-error *ngIf="
            medForm.get('nombre')?.invalid && ( medForm.get('nombre')?.dirty || medForm.get('nombre')?.touched )
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>DNI</mat-label>
            <input type="text" matInput formControlName="dni" placeholder="DNI"/>
            <mat-error *ngIf="
            medForm.get('dni')?.invalid && ( medForm.get('dni')?.dirty || medForm.get('dni')?.touched )
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="text" matInput formControlName="mail" placeholder="ejemplo@gmail.com"/>
            <mat-error *ngIf="
                medForm.get('mail')?.invalid && ( medForm.get('mail')?.dirty || medForm.get('mail')?.touched )
            ">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input type="text" matInput formControlName="tel" placeholder="Número"/>
            <mat-error *ngIf="
            medForm.get('tel')?.invalid && ( medForm.get('tel')?.dirty || medForm.get('tel')?.touched )
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input type="text" matInput formControlName="direccion" placeholder="Calle y número"/>
            <mat-error *ngIf="
            medForm.get('direccion')?.invalid && ( medForm.get('direccion')?.dirty || medForm.get('direccion')?.touched )
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Matrícula</mat-label>
            <input type="text" matInput formControlName="matricula" placeholder="Calle y número"/>
            <mat-error *ngIf="
            medForm.get('matricula')?.invalid && ( medForm.get('matricula')?.dirty || medForm.get('matricula')?.touched )
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Instituto</mat-label>
            <mat-select formControlName = "idInstituto">
                <mat-option *ngFor="let instituto of institutos" [value]="instituto.id">
                    {{instituto.nombre}}
                </mat-option>
            </mat-select>
            <mat-hint *ngIf="!medForm.get('idInstituto')?.valid">Selecciona un instituto para ver los horarios</mat-hint>
            <mat-error *ngIf="
            medForm.get('idInstituto')?.invalid && ( medForm.get('idInstituto')?.dirty || medForm.get('idInstituto')?.touched )
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
    </form>
    <div class="horarios" *ngIf="medForm.get('idInstituto')?.valid">
        <mat-divider></mat-divider>
        <mat-card *ngFor="let horario of nuevosHorarios; let i = index">
            <mat-card-header class="horario-header">
                <p mat-card-title>{{diasSemana[i]}}</p>
                <div class="spacer"></div>
                <mat-checkbox [(ngModel)]="horario.trabaja" (click)="triggerBtn()"></mat-checkbox>
                <p mat-card-subtitle>Desde {{horas[horario.inicio]}} hasta {{horas[horario.fin]}} cada {{horario.intervalo}} mins</p>
            </mat-card-header>
            <mat-card-content class="horario-content">
                <mat-slider step="1" min="0" [max]="horas.length - 1" discrete [displayWith]="formatLabel" [disabled]="!horario.trabaja">
                    <input value="0" [(ngModel)]="horario.inicio"  matSliderStartThumb>
                    <input value="38" [(ngModel)]="horario.fin" matSliderEndThumb>
                </mat-slider> 
                <mat-form-field>
                    <mat-label>Cada</mat-label>
                    <mat-select [disabled]="!horario.trabaja">
                        <mat-option *ngFor="let intervalo of intervalos" [value]="intervalo">
                            {{intervalo}} min
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <button class="confirm-btn" color="primary" mat-raised-button type="button" (click)="addHorarios()" *ngIf="showBtn">Confirmar Horarios</button>
    </div>
    <button class="submit-btn" color="accent" mat-raised-button (click)="createMedico()" [disabled]="medForm.invalid" >Crear Médico</button>
</div>


