<div class="add-paciente">
    <h2 class="title">Crear Paciente</h2>
    <form class="form-container" [formGroup]="pacienteForm" (submit)="createPaciente()">
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">Nombre</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Nombre completo"/>
            <mat-error *ngIf="
            pacienteForm.get('nombre')?.invalid && ( pacienteForm.get('nombre')?.dirty || pacienteForm.get('nombre')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">DNI</mat-label>
            <input type="text" matInput formControlName="dni" placeholder="DNI"/>
            <mat-error *ngIf="
            pacienteForm.get('dni')?.invalid && ( pacienteForm.get('dni')?.dirty || pacienteForm.get('dni')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">E-mail</mat-label>
            <input type="text" matInput formControlName="mail" placeholder="ejemplo@gmail.com"/>
            <mat-error *ngIf="
                pacienteForm.get('mail')?.invalid && ( pacienteForm.get('mail')?.dirty || pacienteForm.get('mail')?.touched || isSubmitted)
            ">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">Teléfono</mat-label>
            <input type="text" matInput formControlName="tel" placeholder="Número"/>
            <mat-error *ngIf="
            pacienteForm.get('tel')?.invalid && ( pacienteForm.get('tel')?.dirty || pacienteForm.get('tel')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">Dirección</mat-label>
            <input type="text" matInput formControlName="direccion" placeholder="Calle y número"/>
            <mat-error *ngIf="
            pacienteForm.get('direccion')?.invalid && ( pacienteForm.get('direccion')?.dirty || pacienteForm.get('direccion')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">Obra Social</mat-label>
            <mat-select formControlName = "idObraSocial" for="pacienteForm">
                <mat-option *ngFor="let obraSocial of obrasSociales" [value]="obraSocial.id">
                    {{obraSocial.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="
            pacienteForm.get('idObraSocial')?.invalid && ( pacienteForm.get('idObraSocial')?.dirty || pacienteForm.get('idObraSocial')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="planes" >
            <mat-label for="pacienteForm">Plan</mat-label>
            <mat-select formControlName="idPlan">
            <mat-option *ngFor="let plan of planes" [value]="plan.id">
                {{ plan.nombre }}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="
            pacienteForm.get('idPlan')?.invalid && ( pacienteForm.get('idPlan')?.dirty || pacienteForm.get('idPlan')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>      
        <mat-form-field appearance="outline">
            <mat-label for="pacienteForm">Afiliado</mat-label>
            <input type="text" matInput formControlName="afiliado" placeholder="Número afiliado"/>
            <mat-error *ngIf="
            pacienteForm.get('afiliado')?.invalid && ( pacienteForm.get('afiliado')?.dirty || pacienteForm.get('afiliado')?.touched || isSubmitted)
        ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <button class="submit-btn" color="accent" mat-raised-button type="submit">Crear Paciente</button>
    </form>
</div>