<div class="background">
    <h1 class="title">Sistema de turnos médicos</h1>
    <div class="img"></div>
    <img src="https://i.imgur.com/9a7WsV6.png" alt="appointments">

    <div class="benefits">
        <div class="benefit">
            <h3 class="benefit-title">Flexible</h3>
        </div>
        <div class="benefit">
            <h3 class="benefit-title">Gratis</h3>
        </div>
        <div class="benefit">
            <h3 class="benefit-title">Simple</h3>
        </div>
        <a routerLink="/register" class="benefit get-started">
            <h3 class="benefit-title">Empezar</h3>
        </a>
    </div>
</div>
