<div class="week-nav">
    Semana del {{ firstDayOfWeek.format('DD-MM') }} al {{ lastDayOfWeek.format('DD-MM') }}
</div>
<div class="table-container">
    <table >
        <thead [style.grid-template-columns]="tableColumns">
            <tr *ngFor="let day of weekDays, let i = index">
                <th>
                    <h4>{{ day }}</h4>
                    <h4 *ngIf="weekSelect">{{ weekSelect[i].name }}</h4>
                </th>
            </tr>
        </thead>
        <tbody [style.grid-template-columns]="tableColumns">
            <tr *ngFor="let day of weekSelect">
                <td *ngFor="let horario of day.horarios">
                    <button mat-raised-button color="primary" [disabled]="!day.ocupado" (click)="loadToHorarioDTO(horario)">{{ horario.format('HH:mm') }}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button mat-raised-button (click)="nextWeek()">Siguiente Semana</button>

  