<div class="container">
  <h1 class="mat-h1">Menu</h1>
  <section class="card-list">
    <div class="card">
      <h2 class="title">Turnos</h2>
      <div class="spacer"></div>
      <button mat-icon-button class="button" routerLink="/turnos"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <div class="card">
      <h2 class="title">Pacientes</h2>
      <div class="spacer"></div>
      <button mat-icon-button class="button" routerLink="/pacientes"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <div class="card">
      <h2 class="title">Medicos</h2>
      <div class="spacer"></div>
      <button mat-icon-button class="button" routerLink="/medicos"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <div class="card">
      <h2 class="title">Institutos</h2>
      <div class="spacer"></div>
      <button mat-icon-button class="button" routerLink="/institutos"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <div class="card">
      <h2 class="title">Obras Sociales</h2>
      <div class="spacer"></div>
      <button mat-icon-button class="button" routerLink="/obras-sociales"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <div class="card">
      <h2 class="title">Estudios</h2>
      <div class="spacer"></div>
      <button mat-icon-button class="button" routerLink="/estudios"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
  </section>
</div>
