$primary : #4569ec;

.container{
  h1 {
    margin-left: 15px;
  }
  width: 100%;
}
.card-list{
  display: flex;
  flex-direction: column;
  width: 87%;
  padding-left: 25px;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  max-width: 600px;
  margin-top: 15px;
  background-color: #EBEBFF;
  width: 100%;
  height: 100px;

  h2{
    padding-left: 25px;
  }

  .spacer{
    flex : 1 1 auto;
  }

  .button{
    margin-right: 15px;
    mat-icon{
      color : $primary;
    }
  }

  .title{
    font-size: 1.5em;
    font-family: Poppins;
  }
}