.details-container{
    display: flex;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

mat-card {
    width: 100%;
    border-radius: 15px;
    max-width: 600px;
    margin-top: 15px;
    background-color: #EBEBFF;
    p{
        margin-top: 4px;
    }
    mat-card-header{
        margin-bottom: 10px;
    }
}

.submit-btn {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    align-self: center;
}

.form-container {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    margin-top: 15px;
    align-self: center;
    font-size: 1.5rem;
}

.error{
    color: red;
}

.horarios-form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
}

.spacer{
    flex: 1 1 auto;
}

.form{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.nav-buttons{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.planes-header{
    width: 100%;
    display: flex;
    align-items: center;
}

.planes{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

