<section class="feature-container">
  <div class="feature-item">
    <div class="feature-item-title">
      <span>Turno</span>
    </div>
    <div class="spacer"></div>
    <div class="feature-item-btn">
      <button mat-fab color="primary" (click)="navigateToAddTurno()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-title">
      <span>Pacientes</span>
    </div>
    <div class="spacer"></div>
    <div class="feature-item-btn">
      <button mat-fab color="primary" (click)="navigateToAddPaciente()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-title">
      <span>Institutos</span>
    </div>
    <div class="spacer"></div>
    <div class="feature-item-btn">
      <button mat-fab color="primary" (click)="navigateToAddInstituto()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-title">
      <span>Obra Sociales</span>
    </div>
    <div class="spacer"></div>
    <div class="feature-item-btn">
      <button mat-fab color="primary" (click)="navigateToAddObraSocial()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-title">
      <span>Médicos</span>
    </div>
    <div class="spacer"></div>
    <div class="feature-item-btn">
      <button mat-fab color="primary" (click)="navigateToAddMedico()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-title">
      <span>Estudios</span>
    </div>
    <div class="spacer"></div>
    <div class="feature-item-btn">
      <button mat-fab color="primary" (click)="navigateToAddEstudio()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
</section>
