.submit-btn {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}
.form-container {
    padding-left: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.verify {
    display: flex;
    flex-direction: column;
}
.title {
    margin-top: 15px;
    align-self: center;
    font-size: 1.5rem;
}

.error{
    color: red;
}