$primary:#4569ec;

mat-card {
    border-radius: 15px;
    max-width: 600px;
    min-width: 280px;
    margin-top: 15px;
    background-color: #EBEBFF;
}

mat-card:hover{
    cursor: pointer;
}

.medico-img{
    margin-top: 7px;
}

.instituto-message{
    padding-top: 15px;
}

.instituto-img {
    margin-bottom: 20px;
    scale: 1.1;
}

.next-btn {
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    margin-top: 15px;
    margin-left: 10px;
}

.fecha {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fecha p {
    display: flex;
    align-self: center;
    font-size: 1rem;
    margin-bottom: 0px;
    padding-top: 10px;
}

.search {
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.estudio-img {
    margin-bottom: 20px;
    margin-left : 5px;
}

.obraSocial-img{
    margin-top: 10px;
}

.stepper{
    width: 100%;
}

.stepper-container{
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}