$primary:#4569ec;

mat-card {
    border-radius: 15px;
    max-width: 600px;
    margin-top: 15px;
    border: 2px solid $primary;
}

mat-card:hover{
    cursor: pointer;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.sidenav{
    width: 300px;
}

.sidenav-container{
    height: 100%;
}

.sidenav-content{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
