$primary:#4569ec;

mat-card {
    border-radius: 15px;
    max-width: 600px;
    margin-top: 15px;
    background-color: #EBEBFF;
    width: 100%;
}

mat-card:hover{
    cursor: pointer;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.sidenav{
    width: 300px;
}

.sidenav-container{
    height: 100%;
}

.sidenav-content{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    h2 {
        font-size: 2em;
    }
    button{
        margin-left: 15px;
    }
    margin-top: 15px;
    display: flex;
    width: 100%;
}
.spacer{
    flex: 1 1 auto;
}