<div class="instForm">
    <h2 class="title" mat-card-title>Agregar Instituto</h2>
    <form class="form-container" [formGroup]="instForm" (submit)="createInstituto()">
        <mat-form-field>
            <mat-label>Nombre del instituto</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Nombre del instituto">
            <mat-error *ngIf="
            instForm.get('nombre')?.invalid && ( instForm.get('nombre')?.dirty || instForm.get('nombre')?.touched || isSubmitted)
            ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Dirección del instituto</mat-label>
            <input type="text" matInput formControlName="direccion" placeholder="Calle y número">
            <mat-error *ngIf="
            instForm.get('direccion')?.invalid && ( instForm.get('direccion')?.dirty || instForm.get('direccion')?.touched || isSubmitted)
            ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Número de CUIT</mat-label>
            <input type="text" matInput formControlName="cuit" placeholder="20/42510244/4">
            <mat-error *ngIf="
            instForm.get('cuit')?.invalid && ( instForm.get('cuit')?.dirty || instForm.get('cuit')?.touched || isSubmitted)
            ">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <button class="submit-btn" color="accent" mat-raised-button type="submit">Crear Instituto</button>
    </form>
</div>
