<div *ngIf="instituto" class="details-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <h2 mat-card-title>{{instituto.nombre}}</h2>
                <img class="instituto-img" mat-card-sm-image src="https://i.imgur.com/j8y8arX.png" alt="institute">
            </mat-card-title-group>
            <p mat-card-subtitle>Direccion : {{instituto.direccion}}</p>
        </mat-card-header>
    </mat-card>
    <div class="medicos-container" *ngIf="!showEditForm">
        <mat-card *ngFor="let medico of instituto.medicos">
            <mat-card-header>
                <mat-card-title-group>
                    <h2 mat-card-title>{{medico.nombre}}</h2>
                    <img class="medico-img" mat-card-sm-image src="https://i.imgur.com/j8y8arX.png" alt="doctor">
                    <p mat-card-subtitle>Horarios :</p>
                    <div class="horarios" *ngFor="let horario of medico.institutos[0].horarios">
                        <p mat-card-subtitle>{{diasSemana[horario.dia-1]}} de: {{horario.inicio}} a {{horario.fin}}</p>
                    </div>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
    </div>
    <button class="submit-btn" color="accent" mat-raised-button (click)="toggleEdit()" >Editar Instituto</button>
    <div class="instForm" *ngIf="showEditForm">
        <h2 class="title" mat-card-title>Editar Instituto</h2>
        <form class="form-container" [formGroup]="instForm" (submit)="updateInstituto()">
            <mat-form-field appearance="outline">
                <mat-label>Nombre del instituto</mat-label>
                <input type="text" matInput formControlName="nombre" placeholder="Nombre del instituto">
                <mat-error *ngIf="
                instForm.get('nombre')?.invalid && ( instForm.get('nombre')?.dirty || instForm.get('nombre')?.touched)
                ">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Dirección del instituto</mat-label>
                <input type="text" matInput formControlName="direccion" placeholder="Calle y número">
                <mat-error *ngIf="
                instForm.get('direccion')?.invalid && ( instForm.get('direccion')?.dirty || instForm.get('direccion')?.touched)
                ">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Número de CUIT</mat-label>
                <input type="text" matInput formControlName="cuit" placeholder="20/42510244/4">
                <mat-error *ngIf="
                instForm.get('cuit')?.invalid && ( instForm.get('cuit')?.dirty || instForm.get('cuit')?.touched)
                ">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <button class="submit-btn" color="accent" mat-raised-button type="submit" [disabled]="instForm.invalid" >Editar Instituto</button>
        </form>
    </div>
</div>
