/* You can add global styles to this file, and also import other style files */

/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/

$primary: mat-palette($mat-blue, 500);
$accent: mat-palette($mat-pink, 400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2,h3,h4,h5,h6, a{
    text-decoration: none;
}

body {
    background-color: #DDE6ED;
}
