<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="drawer.toggle()">Dashboard</a>
      <a mat-list-item routerLink="/turnos" (click)="drawer.toggle()">Turnos</a>
      <a mat-list-item routerLink="/medicos" (click)="drawer.toggle()">Medicos</a>
      <a mat-list-item routerLink="/pacientes" (click)="drawer.toggle()">Pacientes</a>
      <a mat-list-item routerLink="/institutos" (click)="drawer.toggle()">Instituto</a>
      <a mat-list-item routerLink="/obras-sociales" (click)="drawer.toggle()">Obras Sociales</a>
      <a mat-list-item routerLink="/estudios" (click)="drawer.toggle()">Estudios</a>
      <a mat-list-item routerLink="/estudios" (click)="logout()">Cerrar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TurnosApp</span>
      <span class="spacer"></span>
      <div [class.hidden]="isHandset$ | async">
        <a mat-button routerLink="/home">Dashboard</a>
        <a mat-button routerLink="/turnos">Turnos</a>
        <a mat-button routerLink="/medicos">Medicos</a>
        <a mat-button routerLink="/pacientes">Pacientes</a>
        <a mat-button routerLink="/institutos">Instituto</a>
        <a mat-button routerLink="/obras-sociales">Obras Sociales</a>
        <a mat-button routerLink="/estudios">Estudios</a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
