<app-loading *ngIf="animation"></app-loading>
<div *ngIf="turno && !animation" class="details-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <h2 mat-card-title>{{turno.fecha | date : 'EEEE dd \'de\' MMM HH:mm' :undefined: 'es' | titlecase }}</h2>
                <img class="turno-img" mat-card-sm-image src="https://i.imgur.com/g5VZxMf.png" alt="appointment">
                <p mat-card-subtitle>Medico : {{turno.medico.nombre}}</p>
                <p mat-card-subtitle>En : {{turno.instituto.nombre}}</p>
                <p mat-card-subtitle>Paciente : {{turno.paciente.nombre}}</p>
                <p mat-card-subtitle>Obra Social : {{turno.obraSocial.nombre}}</p>
                <p mat-card-subtitle>Plan : {{turno.plan.nombre}}</p>
                <p mat-card-subtitle>Estudio : {{turno.estudio.nombre}}</p>
                <p mat-card-subtitle>{{turno.confirmado ? "Este turno está confirmado" : "Este turno NO está confirmado"}}</p>
                <p mat-card-subtitle>{{turno.cargado ? "Este turno está cargado" : "Este turno NO está cargado"}}</p>
                <p mat-card-subtitle>{{turno.cancelado ? "Este turno está cancelado" : "Este turno NO está cancelado"}}</p>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
    <app-loading *ngIf="sendAnimation"></app-loading>
    <div class="buttons" *ngIf="!showCalendar && !showInforme && !sendAnimation && !turno.cargado">
        <button mat-raised-button color="primary" (click)="reprogramarTurno()">Reprogramar Turno</button>
        <button mat-raised-button color="accent" (click)="toggleInforme()">Enviar Informe</button>
        <button mat-raised-button color="warn" (click)="cancelTurno(turno)">Cancelar Turno</button>
    </div>
    <div class="buttons" *ngIf="(showCalendar != showInforme) && !sendAnimation">
        <button mat-raised-button color="warn" (click)="toggleButtons()">Volver</button>
    </div>
    <app-loading *ngIf="schedAnimation"></app-loading>
    <div class="calendar-container" *ngIf="showCalendar && !schedAnimation && !sendAnimation">
        <app-calendar-form *ngIf="horarios && turnos" [turnos]="turnos" [horarios]="horarios" (fecha)="SetNewDate($event)"></app-calendar-form>
    </div>
    <div class="new-date" *ngIf="newDate && !sendAnimation">
        <p mat-card-title align="center">{{newDate | date : 'EEEE dd \'de\' MMM HH:mm' :undefined: 'es' | titlecase }}</p>
        <button mat-raised-button class="buttons" color="accent" (click)="updateTurno( newDate, turno )">Reprogramar Turno</button>
    </div>
    <div class="informe-container" *ngIf="showInforme && !sendAnimation">
        <button mat-raised-button color="primary" (click)="onClick()"><mat-icon>add</mat-icon> Agregar Informe</button>
        <p class="Message-hint" [style.color]="maxSizeExceded ? '#ec4569' : 'black'" >{{maxSizeExceded ? "El archivo seleccionado es muy grande" : "El tamaño máximo del archivo es de 1MB"}}</p>
        <mat-card class="file-preview" *ngFor="let file of files">
            <mat-card-header class="file-previe-content">
                <h3 mat-card-title>{{file.name}}</h3>
                <div class="spacer"></div>
                <div class="preview-button">
                <button mat-icon-button (click)="removeFile(file)"><mat-icon>close</mat-icon></button>
                </div>
            </mat-card-header>
        </mat-card>
        <input #fileUpload [(ngModel)]="inputFileName" class="input_fileupload--hidden" type="file" accept=".pdf, .jpg, .jpeg, .png" (change)="catchFile($event)"  >
        <button mat-raised-button type="submit" color="accent" [disabled]="files.length == 0" (click)="sendInforme(turno, files)">Enviar Informe</button>
    </div>
</div>