mat-card {
    border-radius: 15px;
    max-width: 600px;
    min-width: 300px;
    margin-top: 15px;
    background-color: #EBEBFF;
}

.buttons{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.details-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.details-container mat-card {
    margin-top: 15px;
    width: 100%;
}

.input_fileupload--hidden{
    display: none;
}

.informe-container{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.spacer{
    flex: 1 1 auto
}

.file-preview-content{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.file-preview{
    margin-bottom: 10px;
}

.preview-button{
    padding-bottom: 15px;    
}